.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.Spotlight-V100
.Trashes
email_api/email_service
debug

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

__pycache__/
*.py[cod]

*.so

.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

docs/_build/

target/

*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
.idea/