appdirs
asgiref
autopep8
baron
boto3
botocore
certifi
charset-normalizer
dj-database-url
dj-email-url
Django
django-cache-url
django-cors-headers
django-environ
django-environs
django-heroku
django-storages
djangorestframework
djangorestframework-simplejwt
environs
gunicorn
heroku
idna
jmespath
marshmallow
packaging
Pillow
psycopg2
pycodestyle
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
redbaron
requests
rply
s3transfer
six
sqlparse
toml
urllib3
whitenoise
